@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

    .np{padding: 0;}.p0{padding: 0.5em;}.p1{padding: 1em}.p2{padding: 2em;}.p3{padding: 3em;}.p4{padding: 4em;}.p5{padding: 5em;}.np-bottom{padding-bottom: 0;}.p0-bottom{padding-bottom: 0.5em;}.p1-bottom{padding-bottom: 1em}.p2-bottom{padding-bottom: 2em;}.p3-bottom{padding-bottom: 3em;}.p4-bottom{padding-bottom: 4em;}.p5-bottom{padding-bottom: 5em;}.np-left{padding-left: 0}.p0-left{padding-left: 0.5em;}.p1-left{padding-left: 1em}.p2-left{padding-left: 2em;}.p3-left{padding-left: 3em;}.p4-left{padding-left: 4em;}.p5-left{padding-left: 5em;}.np-right{padding-right: 0}.p0-right{padding-right: 0.5em;}.p1-right{padding-right: 1em}.p2-right{padding-right: 2em;}.p3-right{padding-right: 3em;}.p4-right{padding-right: 4em;}.p5-right{padding-right: 5em;}.np-top{padding-top:0;}.p0-top{padding-top: 0.5em;}.p1-top{padding-top: 1em}.p2-top{padding-top: 2em;}.p3-top{padding-top: 3em;}.p4-top{padding-top: 4em;}.p5-top{padding-top: 5em;}
    .nm{margin: 0;}.m0{margin: 0.5em;}.m1{margin: 1em;}.m2{margin: 2em;}.m3{margin: 3em;}.m4{margin: 4em;}.m5{margin: 5em;}.m0-bottom{margin-bottom: 0.5em;}.m1-bottom{margin-bottom: 1em;}.m2-bottom{margin-bottom: 2em;}.m3-bottom{margin-bottom: 3em;}.m4-bottom{margin-bottom: 4em;}.m5-bottom{margin-bottom: 5em;}.m0-left{margin-left: 0.5em;}.m1-left{margin-left: 1em;}.m2-left{margin-left: 2em;}.m3-left{margin-left: 3em;}.m4-left{margin-left: 4em;}.m5-left{margin-left: 5em;}.m0-right{margin-right: 0.5em;}.m1-right{margin-right: 1em;}.m2-right{margin-right: 2em;}.m3-right{margin-right: 3em;}.m4-right{margin-right: 4em;}.m5-right{margin-right: 5em;}.m0-top{margin-top: 0.5em;}.m1-top{margin-top: 1em;}.m2-top{margin-top: 2em;}.m3-top{margin-top: 3em;}.m4-top{margin-top: 4em;}.m5-top{margin-top: 5em;}.nm-left{margin-left:0;}.nm-right{margin-right: 0}.nm-top{margin-top: 0}.nm-bottom{margin-bottom: 0}.m-left-auto{margin-left: auto;}.m-right-auto{margin-right: auto;}.m-top-auto{margin-top: auto;}.m-bottom-auto{margin-bottom: auto;}
    .f0{font-size: 0.75em;}.f-small{font-size: 85%;}.f1{font-size: 1em;}.f15{font-weight: 1.5em;}.f12{font-weight: 1.2em;}.f2{font-size: 2em;}.f25{font-size:2.5em;}.f3{font-size: 3em;}.f4{font-size: 4em;}.f5{font-size: 5em;}.f6{font-size: 6em;}.f7{font-size: 7em;}.f15{font-size: 1.5em}.f12{font-size: 1.2em}.f1r{font-size: 1rem;}.f15r{font-weight: 1.5rem;}.f12r{font-weight: 1.2rem;}.f2r{font-size: 2rem;}.f25r{font-size:2.5rem;}.f3r{font-size: 3rem;}.f4r{font-size: 4rem;}.f5r{font-size: 5rem;}.f6r{font-size: 6rem;}.f7r{font-size: 7rem;}.f15r{font-size: 1.5rem}.f12r{font-size: 1.2rem}.f-smaller{font-size: .75rem;}.lh-1{line-height: 1}.lh-12{line-height: 1.2}.lh-15{line-height: 1.5}.lh-2{line-height: 2}
    .bold{font-weight: 600}.bolder{font-weight: 900;}.normal{font-weight: normal}.underline{text-decoration: underline;}.nunderline, .nunderline:hover, .nunderline:active, .nunderline:focus, .nunderline:visited{text-decoration: none;}.lighter{font-weight: 300}.uppercase{text-transform: uppercase;}
    .text-center{text-align: center;}.text-right{text-align: right;}.text-left{text-align: left;}.clear{clear: both}.float-left{float: left}.float-right{float: right;}.flex{display: flex;}.align-center{align-items:center; vertical-align: middle;}.align-right{justify-content:flex-end;}.total-center{align-items:center; vertical-align: middle; justify-content:center;}.space-between{justify-content: space-between;}.inline-block{display: inline-block;}.flex-end{justify-content: flex-end;}.justify-center{justify-content:center;}.flex-column{flex-direction:column;}.flex-row{flex-direction: row;}.flex-column{flex-direction: column;}.block{display: block;}.hidden{display: none;}.width{width: 100%}.height{height: 100%}.relative{position: relative;}.hidden{display:none !important;}
    .parallax, .parallax .vc_column-inner {background-attachment: fixed !important;background-position: center;background-repeat: no-repeat !important;background-size: cover !important;}.pointer{cursor:pointer;}.videoWrapper {position: relative;padding-bottom: 56.25% !important;height: 0;}.videoWrapper iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
   

#toplevel_page_cactus-admin-page .wp-menu-image img{padding:0; max-width: 100%; margin-left: 7px;margin-right: 5px;margin-top: 5px;}

ul.nav{font-size: 1rem;padding:0; margin:0; background: #fff; border-radius: var(--radius); overflow: hidden; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
ul.nav li{padding:0; margin:0}
ul.nav li a{padding:0.75em; border-bottom: 1px solid #ddd; color:#000; display: flex; align-items: center}
ul.nav li a i{margin-right: 0.75em;}
ul.nav li.active a{background: var(--primary);}

.card{width:100%; margin:0; border-radius: var(--radius); border:0px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; max-width: unset;}
.card.small_card{min-width: unset;}
.form_row{margin-bottom: 1em; padding-bottom: 1em; border-bottom:1px solid #ddd}
button[type="submit"]{width: 100%; padding:1em 2em; background: var(--primary); color:#000; border:0px; display: flex; align-items: center; font-size: 1.2em; text-align: center; justify-content: center; border-radius: var(--radius);}
button[type="submit"] i{margin-right: 0.5em}
button[type="submit"]:hover{background: #000; color:#fff}

.flex.fit-in input, .flex.fit-in select{flex: 0 0 22%; max-width: 22%; padding-left: 5px; padding-right: 5px;}
.flex.fit-in input, .flex.fit-in select{border-radius: 0px; margin-left: -1px}
.flex.fit-in input:first-child{border-radius: 5px 0px 0px 5px;}
.flex.fit-in select{border-radius: 0px 5px 5px 0px; background: #f0f0f0}

/*** MODAL **/
    .bg-absolute-black{background: rgba(0,0,0,0.7); position: fixed;top: 0px; left: 0px; z-index: 999999; width: 100%; height: 100%;backdrop-filter:blur(5px); }
    .popup{position: fixed;top: 0;right: 0;left: 0;margin: auto;background: white;width: fit-content;max-width: 60vw;z-index: 9999999;bottom: 0;height: fit-content;}
    #close_video_user{position: absolute;top: -40px;right: 0;font-size: 20px;color: white;cursor: pointer;}
    #documentation_modal .popup{min-width: 50vw}
    .textWrapper{padding: 3em;max-height: 80vh; overflow-y: auto;}
  
    .documentation_holder{display: flex;padding: 1em; background: #fff; margin-bottom: 1em; border-radius: 5px}
    .documentation_holder .icon_holder{width: 3em; height: 3em; border-radius: 10px;background: #56FF9D50; position: relative; margin-right: 1em}
    .documentation_holder .icon_holder i {position: absolute;top: 50%;left: 50%;translate: -50% -50%;display: flex;align-items: center;justify-content: center;font-size: 16px;}
    .doc_title{font-weight: bold; font-size: 14px;}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#wpbody{overflow-x: hidden;}
#button_menu{display: inline-block; cursor: pointer;}
#saveChanges{
    padding: 1.5em;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    width: fit-content;
    position: absolute;
    bottom: 2em;
    right: 2em;
    border-radius: 5px;
    transition: margin-right 1s ease-in-out;
    margin-right: -20em;
}
#saveChanges.active{margin-right: 0 !important;}

.input-file-upload-btn{float: right; background: #000; border:0px;height: 38px;
    line-height: 0;
    max-height: 30px ;
    min-height: 30px;
    margin-top: 8.5px;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid #000;}

.tipography_holder{padding:1em; border:1px dashed #ccc; margin-bottom: 1em; border-radius: var(--radius); background: #fafafa}
.tipography_holder input, .tipography_holder select{max-height: 30px; border-color:#000; background-color: #fff}
.font_uploads .row .col-md-9{max-height: 40px;}