#toplevel_page_cactus-admin-page .wp-menu-image img{padding:0; max-width: 100%; margin-left: 7px;margin-right: 5px;margin-top: 5px;}
li[class^='et_fb_dp_dmb_module_'], li[class*=' et_fb_dp_dmb_module_']{background: #56FF9D !important; color:#000 !important}

